<h3>Asistencias registradas</h3>

<!-- TABLA -->
<div class="table-wrapper" *ngIf="attendances && attendances.length > 0">
  <table
    class="table-modern responsive-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Clase</th>
        <th>Alumno</th>
        <th>Curso</th>
        <th>Instructor</th>
        <th>Asistió</th>
        <th>Organización</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let a of attendances">
        <td>{{ a.id }}</td>
        <td>{{ a.classDate }}</td>
        <td>{{ a.className }}</td>
        <td>{{ a.studentName }}</td>
        <td>{{ a.courseName }}</td>
        <td>{{ a.instructorName }}</td>
        <td class="center">
          <mat-icon [ngClass]="a.attended ? 'paid-ok' : 'paid-bad'">
            {{ a.attended ? 'check_circle' : 'cancel' }}
          </mat-icon>
        </td>
        <td>{{ a.organizationName }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- CUANDO NO HAY ASISTENCIAS -->
<div *ngIf="attendances && attendances.length === 0" style="margin-top: 20px;">
  <p>No hay asistencias registradas.</p>
</div>
