.badge-danger {
  background: #ffe3e3;
  color: #d32f2f;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
}
.dark-mode .mdc-data-table__header-cell{
  color: black!important;
}