<mat-card class="attendance-container">

  <h2>Lista de clases creadas - {{ selectedCourseName }}</h2>
  <p class="date-label">{{ currentDate }}</p>

 
  <!-- BOTONES -->
  <div class="center-actions">
    <button mat-raised-button color="primary" (click)="createClass()">
      Crear nueva clase
    </button>
  </div>

  <button mat-stroked-button color="accent" class="report-btn" (click)="goToReport()">
    Ver reporte mensual
  </button>

  <mat-divider></mat-divider>

  <!-- LISTA DE CLASES -->
  <div *ngIf="classes.length === 0" class="no-classes">
    ⚠️ Este curso no tiene clases creadas todavía.
  </div>

  <table mat-table [dataSource]="classes" class="table-modern responsive-table" *ngIf="classes.length > 0">

  <!-- Nombre -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Clase </th>
    <td mat-cell *matCellDef="let c">
      {{ c.name }}
    </td>
  </ng-container>

  <!-- Fecha -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let c">
      {{ c.date | date:'dd/MM/yyyy' }}
    </td>
  </ng-container>

  <!-- Acción -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Asistencia </th>
    <td mat-cell *matCellDef="let c">

      <button mat-raised-button color="primary"
              *ngIf="!c.attendanceTaken"
              (click)="goToAttendance(c.id)">
        Tomar
      </button>

      <button mat-raised-button color="warn"
              *ngIf="c.attendanceTaken"
              (click)="goToAttendance(c.id)">
        Editar
      </button>

    </td>
  </ng-container>

  <!-- Filas -->
  <tr mat-header-row *matHeaderRowDef="['name', 'date', 'action']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'date', 'action']"></tr>

</table>

  <p *ngIf="message" class="message">{{ message }}</p>

</mat-card>
